<%= form_for(@waiter) do |f| %>
  <% if @waiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waiter.errors.count, "error") %> prohibited this waiter from being saved:</h2>

      <ul>
      <% @waiter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
