<h1>Listing waiters</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @waiters.each do |waiter| %>
  <tr>
    <td><%= link_to 'Show', waiter %></td>
    <td><%= link_to 'Edit', edit_waiter_path(waiter) %></td>
    <td><%= link_to 'Destroy', waiter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Waiter', new_waiter_path %>
