= form_for(@course) do |f|
  - if @course.errors.any?
    #error_explanation
      %h2 #{pluralize(@course.errors.count, "error")} prohibited this course from being saved:

      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg
  .clearfix	  
    =f.label 'Nome'
    .input  
      =f.text_field :name
  .clearfix
    =f.label 'Prezzo'
<<<<<<< HEAD
    .input
      =f.text_field :price
=======
      .input
        =f.text_field :price
>>>>>>> ecbe98b5fd8ddf9bab60880a3c9eb404bfca3b0a
  .clearfix
    =f.label 'Tipo'
    .input
      =select("course", "course_type_id", CourseType.all.map {|c| [c.name.capitalize, c.id]}, {:include_blank => false})
  .clearfix
    =f.label 'Immagine'
<<<<<<< HEAD
    .input
      =f.file_field :image
=======
      .input
        =f.file_field :image
>>>>>>> ecbe98b5fd8ddf9bab60880a3c9eb404bfca3b0a
  .actions
    = f.submit
