// Place all the styles related to the tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tables {
  float: left;
  
  .table {
    border-style: solid;
    overflow: hidden;
    margin-bottom: 20px;
    height: 130px;
    
    h1 {
      margin: 0 0 0 5px;
    }
    p {
      margin: 0 5px 0 0;
    }
    .waiter_username {
      font-size: 1.2em;
      align: right;
    }
    
    .waiter_first_name {
      font-size: 0.9em;
    }
    
    .waiter_last_name {
      font-size: 0.9em;
    }
    
    button {
      float: none;
      display: block;
      width: 80%;
      margin: 10px auto;
    }
  }
  
  .free {
    background-color: #FF0000;
    button {      
      visibility:hidden;
    }
  }
    
  .occupied {
    background-color: #00FF00;
    button {
      visibility:visible;
    }
  }
}

#waiters {
  float: right;
}