// Place all the styles related to the tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tables {
  float: left;
  
  .table {
    position: relative;
    border-style: solid;
    overflow: hidden;
    margin-bottom: 20px;
    height: 130px;
    
    .clients {
      font-family: 'Mako';
      padding:0;
      margin:0 0 0 3px;
      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    
    h1.number {
      margin: 0 0 0 5px;
      display: block;
      float: left;
    }
    
    p {
      margin: 0;
    }
    
    .waiter {
      font-size: 0.9em;
      float: right;
      margin-top: 3px;
      margin-right: 5px;
      
      .waiter_username {
        font-size: 1.2em;
      }
      
      .waiter_first_name {
      }
      
      .waiter_last_name {
      }
    }
    
    button {
      position: absolute;
      left: 10%;
      bottom: 2px;
      display: block;
      width: 80%;
      margin: auto;
    }
  }
  
  .free {
    background-color: #FF0000;
    button {      
      visibility:hidden;
    }
  }
    
  .occupied {
    background-color: #00FF00;
    button {
      visibility:visible;
    }
  }
}

#waiters {
  float: right;
}